<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="margin-top: 10px;">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" (click)="onToStart()">
                Início
                <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" (click)="onToDelatation()">Denuncias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" (click)="onToCompany()">Empresas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" (click)="onToUsers()">Usuários</a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="hasSite && userName">
      <div class="input-group-prepend" id="input-group-logout">
          <span id="div-user"><strong>{{ userName | camelCase }}</strong></span>
          <button type="button" class="btn btn-inline btn-light" aria-haspopup="false" aria-expanded="false" title="Sair" (click)="onLogout()">
            <span class="sr-only">Sair</span>
            <fa-icon [icon]="['fas', 'sign-out-alt']" size="fa-sm"></fa-icon>
          </button>
        </div>
    </div>
    <button *ngIf="hasSite && !userName && !isForLogin" class="btn btn-sign text-left" id="sign" (click)="onToSign()">
        <fa-icon [icon]="['fas', 'sign-in-alt']" size="fa-sm"></fa-icon>
        Entrar
    </button>
  </nav>
</div>