<!-- *********************************** 
    EXIBE APENAS UMA DENÚNCIA DETALHADA 
**************************************** -->
<div class="container-fluid" *ngIf="delatation$">
    <ng-container *ngTemplateOutlet="topBarMenu"></ng-container>
</div>
<div class="container" *ngIf="delatation$ | async as d">
    <h3 class="text-center">{{ d.dsTitulo | camelCase }}</h3>
    <div class="row no-gutters py-2 mt-4 mb-4" *ngFor="let item of this.reqRespIndex; index as index; even as even; odd as odd; first as first; last as last">
        <ng-container  *ngIf="even && d.dsHistoria[item.even]">
            <!-- Spacer -->
            <div class="col-sm"></div>
            <!-- Center Dot -->
            <ng-container *ngTemplateOutlet="centerDotFull; context: ctxTmpCenterDot"></ng-container>
            <!-- TimeLine Body -->
            <ng-container *ngTemplateOutlet="historyTimelineBody"></ng-container>
        </ng-container>
        <ng-container *ngIf="odd && d.dsResposta[item.odd]">
            <!-- TimeLine Body -->
            <ng-container *ngTemplateOutlet="respTimelineBody"></ng-container>
            <!-- Center Dot -->
            <ng-container *ngTemplateOutlet="centerDotFull; context: ctxTmpCenterDot"></ng-container>
            <!-- Spacer -->
            <div class="col-sm"></div>
        </ng-container>

        <!-- Templates -->
          <!-- Center Dot -->
        <ng-template #centerDotFull>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col" [class.border-right]="!first">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill bg-success">&nbsp;</span>
                    <!-- <span class="badge badge-pill bg-success">&nbsp;</span> -->
                </h5>
                <div class="row h-50">
                    <div class="col" [class.border-right]="!last">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
        </ng-template>

        
    <!-- Time Line Body -->
    <ng-template #historyTimelineBody>
            <div class="col-sm py-2">
                <div class="card border-success shadow">
                    <div class="card-body">
                        <div class="card-title">
                            <fa-icon [icon]="['fas', 'user']" class="fa-2x"></fa-icon>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted small text-right">
                            {{ d.dsHistoria[item.even]?.tsHistoria | dateFormat }} às
                            {{ d.dsHistoria[item.even]?.tsHistoria | dateTimeFormat:'hh:mm'}}</h6>
                        <p class="card-text body-text" style="overflow-y: scroll; max-height: 150px;">
                            {{ d.dsHistoria[item.even]?.dsHistoria }}
                        </p>
                    </div>
                    <!-- Show Attachments -->
                    <div class="card-footer bg-transparent border-success" *ngIf="d.dsHistoria[item.even]?.dsNomeAnexo">
                        <button class="btn btn-sm btn-outline-secondary" type="button" [attr.data-target]="'#tl-body-'+index"
                            data-toggle="collapse">Anexo(s) ▼
                        </button>
                        <div class="collapse border" id="tl-body-{{ index }}">
                            <div class="p-2 text-monospace">
                                <div *ngFor="let anexo of (d.dsHistoria[item.even]?.dsNomeAnexo | split: ',')" class="text-resume">
                                    <div *ngIf="(anexo | split: '.')[1] == 'pdf'">
                                        <button type="button" class="btn btn-light" aria-pressed="false" autocomplete="off">
                                            <fa-icon [icon]="['fas', 'file-pdf']" size="fa-sm"></fa-icon>
                                            {{ anexo }}
                                        </button>
                                    </div>
                                    <div *ngIf="(anexo | split: '.')[1] == 'png'">
                                        <button type="button" class="btn btn-light" aria-pressed="false" autocomplete="off" (click)="downloadAttachment(anexo)">
                                            <fa-icon [icon]="['fas', 'file-image']" size="fa-sm"></fa-icon>
                                             {{ anexo }}
                                        </button>
                                    </div>
                                    <div *ngIf="(anexo | split: '.')[1] == 'docx'">
                                        <button type="button" class="btn btn-light" aria-pressed="false" autocomplete="off">
                                            <fa-icon [icon]="['fas', 'file-word']" size="fa-sm"></fa-icon>
                                            {{ anexo }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    
        <ng-template #respTimelineBody>
            <div class="col-sm py-2">
                <div class="card border-success shadow">
                    <div class="card-body">
                        <div class="card-title">
                            <fa-icon [icon]="['fas', 'user-tie']" class="fa-2x"></fa-icon>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted small text-right">
                            {{ d.dsResposta[item.odd ]?.tsResposta | dateFormat }} às
                            {{ d.dsResposta[item.odd ]?.tsResposta | dateTimeFormat:'hh:mm' }}</h6>
                        <p class="card-text body-text" style="overflow-y: scroll; max-height: 150px;">
                            {{ d.dsResposta[item.odd ]?.dsResposta }}
                        </p>
                    </div>
                    <!-- Show Attachments -->
                    <div class="card-footer bg-transparent border-success" *ngIf="d.dsResposta[item.odd]?.dsNomeAnexo">
                        <button class="btn btn-sm btn-outline-secondary" type="button" [attr.data-target]="'#tl-body-'+index"
                            data-toggle="collapse">Anexo(s) ▼
                        </button>
                        <div class="collapse border" id="tl-body-{{ index }}">
                            <div class="p-2 text-monospace">
                                <div *ngFor="let anexo of (d.dsResposta[item.odd]?.dsNomeAnexo | split: ',')" class="text-resume">
                                    <div *ngIf="(anexo | split: '.')[1] == 'pdf'">
                                        <button type="button" class="btn btn-light" aria-pressed="false" autocomplete="off">
                                            <fa-icon [icon]="['fas', 'file-pdf']" size="fa-sm"></fa-icon>
                                            {{ anexo }}
                                        </button>
                                    </div>
                                    <div *ngIf="(anexo | split: '.')[1] == 'png'">
                                        <button type="button" class="btn btn-light" aria-pressed="false" autocomplete="off">
                                            <fa-icon [icon]="['fas', 'file-image']" size="fa-sm"></fa-icon>
                                            {{ anexo }}
                                        </button>
                        
                                    </div>
                                    <div *ngIf="(anexo | split: '.')[1] == 'docx'">
                                        <button type="button" class="btn btn-light" aria-pressed="false" autocomplete="off" (click)="downloadAttachment(anexo)">
                                            <fa-icon [icon]="['fas', 'file-word']" size="fa-sm"></fa-icon>
                                            {{ anexo }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<!-- ******************************** 
    TODAS AS DENÚNCIAS DE UMA EMRPESA 
************************************* -->
<div class="container py-2 mt-4 mb-4" *ngIf="delatations$ | async as delations">
    <div class="row no-gutters"
        *ngFor="let d of delations; index as index; even as even; odd as odd; first as first; last as last">
        <ng-container *ngIf="even">
            <!-- Spacer -->
            <div class="col-sm"></div>
            <!-- Center Dot -->
            <ng-container *ngTemplateOutlet="centerDotFull; context: ctxTmpCenterDot"></ng-container>
            <!-- TimeLine Body -->
            <ng-container *ngTemplateOutlet="timelineBody"></ng-container>
        </ng-container>
        <ng-container *ngIf="odd">
            <!-- TimeLine Body -->
            <ng-container *ngTemplateOutlet="timelineBody"></ng-container>
            <!-- Center Dot -->
            <ng-container *ngTemplateOutlet="centerDotFull; context: ctxTmpCenterDot"></ng-container>
            <!-- Spacer -->
            <div class="col-sm"></div>
        </ng-container>

        <!-- Templates -->
        <!-- Center Dot -->
        <ng-template #centerDotFull>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col" [class.border-right]="!first">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill bg-light border">&nbsp;</span>
                    <!-- <span class="badge badge-pill bg-success">&nbsp;</span> -->
                </h5>
                <div class="row h-50">
                    <div class="col" [class.border-right]="!last">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
        </ng-template>

        <!-- Time Line Body -->
        <ng-template #timelineBody>
            <div class="col-sm py-2">
                <div class="card border-success shadow">
                    <div class="card-body">
                        <h5 class="card-title text-success">{{ d.dsTitulo | camelCase }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted small text-right">{{ d.tsReclamacao | dateTimeFormat }}</h6>
                        <p class="card-text" style="overflow-y: scroll; max-height: 100px;">
                            {{ d.dsHistoria[0]?.dsHistoria }}
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        <div class="btn-group" style="float: right">
                            <button type="button" class="btn btn-outline-info" style="margin-right: 5px" title="Visualizar Denúncia">
                                <span class="sr-only">Visualizar Denúncia</span>
                                <fa-icon [icon]="['fas', 'eye']" size="fa-sm" (click)="onView(d.protocolo)"></fa-icon>
                            </button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary" type="button"
                            [attr.data-target]="'#tl-body-'+index" data-toggle="collapse">Detalhes ▼</button>
                        <div class="collapse border" id="tl-body-{{ index }}">
                            <div class="p-2 text-monospace">
                                <div *ngFor="let history of d.dsHistoria" class="text-resume">
                                    <fa-icon class="fa-1x" aria-hidden="true" [icon]="['far', 'user']"></fa-icon>
                                    {{ history.tsHistoria | dateTimeFormat:'hh:mm' }} - {{ history.dsHistoria | camelCase }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <hr>
    <!-- <div class="container-fluid text-center">
        <button id="btn-load-more" type="button" class="btn btn-light">Carregar mais...</button>
    </div> -->
</div>

<!-- 
    TOP NAV-BAR 
-->
<ng-template #topBarMenu>
    <div class="pos-f-t" id="topBarMenu">
        <nav class="navbar navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Advogado</a>
                    <div class="dropdown-menu">
                        <button href="#" class="btn btn-info dropdown-item" (click)="onViewAddResponse()">Inserir Resposta</button>
                    </div>
                </div>
                <span style="padding: 1rem;"></span>
                <div class="nav-item dropdown">
                    <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Usuário</a>
                    <div class="dropdown-menu">
                        <button href="#" class="dropdown-item" (click)="onViewAddComment()">Inserir Comentário</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>