<topnavbar [context]="context" [userName]="userName"></topnavbar>

<div class="container-fluid text-center main" *ngIf="(company$ | async)?.data[0] as c">
    <div>
        <h2>Bem-vindo ao sistema de denúncia!</h2>
        <div class="text-center d-flex flex-column justify-content-center">
            <h4>{{ c.FANTASIA | camelCase }}</h4>
        </div>
    </div>
    <div class="text-center d-flex flex-column justify-content-center main-content">
        <div class="row justify-content-center">
            <button class="btn btn-block list-item" (click)="onDelatation(c)">
                <span class="texto">
                    Denunciar
                </span>
            </button>
            <button class="btn btn-block list-item" *ngIf="!isViewProtocol" (click)="onIsViewProtocol()">
                <span class="texto">
                    Meu Protocolo
                </span>
            </button>
            <div class="btn list-item " *ngIf="isViewProtocol" id="protocolSearchBtn">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="button" id="nmProtocoloHelp"
                            class="btn btn-block btn-success dropdown-toggle-split x d-none d-md-block"
                            aria-haspopup="false" aria-expanded="false" title="Pesquisar"
                            (click)="onViewProtocol(protocol.value)">
                            <span class="sr-only">Pesquisar</span>
                            <fa-icon [icon]="['fas', 'search']" size="fa-sm"></fa-icon>
                        </button>
                    </div>
                    <input type="text" class="form-control" placeholder="Digite o protocolo"
                        aria-label="Digite o protocolo" aria-describedby="nmProtocoloHelp" maxlength="20" #protocol>
                </div>
            </div>
        </div>
    </div>
</div>