<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark " style="margin-top: 10px;">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- <a class="nav-link" routerLinkActive="active" [routerLink]="['/']"> -->
              <a class="nav-link" routerLinkActive="active" [routerLink]="'/site/' + context">
                Início
                <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="'/site/' + context + '/denuncias'">Denuncias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/empresas']">Empresas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/usuarios']">Usuários</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container-fluid" style="margin-top: 10px;">
  <!-- <fa-icon [icon]="['fas', 'trash']"></fa-icon> -->
  <router-outlet></router-outlet>
</div>

<footer class="page-footer font-small cyan darken-3">
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
            
          </div>
        </div>
      </div>
    </div> -->
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-8">Icons made by 
        <a href="https://www.flaticon.com/authors/twitter" title="Twitter">Twitter</a> from 
        <a href="https://www.flaticon.com/"title="Flaticon">www.flaticon.com</a>
    </div> -->
    <!-- Copyright -->
  </footer>