<topnavbar [context]="context"></topnavbar>

<div class="container-fluid" style="margin-top: 10px;">
  <!-- <fa-icon [icon]="['fas', 'trash']"></fa-icon> -->
  <router-outlet></router-outlet>
</div>

<footer class="page-footer font-small cyan darken-3">
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
            
          </div>
        </div>
      </div>
    </div> -->
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-8">Icons made by 
        <a href="https://www.flaticon.com/authors/twitter" title="Twitter">Twitter</a> from 
        <a href="https://www.flaticon.com/"title="Flaticon">www.flaticon.com</a>
    </div> -->
    <!-- Copyright -->
  </footer>