<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: 10px;">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Início 
              <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/delatations']">Denuncias</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/companies']">Empresas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/users']">Usuários</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container-fluid" style="margin-top: 10px;">
  <!-- <fa-icon [icon]="['fas', 'trash']"></fa-icon> -->
  <router-outlet></router-outlet>
</div>
