.main {
    background-color: #f8f8f8;
    padding-top: 5rem;
}

#sign {
    position: relative;
    float: right;
}

fa-icon {
    padding-right: 0.5rem;
}

.itens {
    padding: 10rem 25rem;
    margin: 0 -1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.itens button:hover {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, rgb(44, 49, 119), rgb(28, 33, 99));
}

.itens button:hover span {
   color: white;
}

.list-item {
    margin: 10px 1%;
    background-color: #ffffff;
    -webkit-box-shadow: 0 8px 10px 0 rgba(0,0,0,.16);
    box-shadow: 0 8px 10px 0 rgba(0,0,0,.16);
    padding: 24px 36px;
    color: #000!important;
    line-height: 32px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    max-width: 31%;
    font-size: x-large;
}

.categoria {
    display: block;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

#protocolSearchBtn button {
    padding-right: 1.6rem;
    border-radius: 0.3rem;
}

#protocolSearchBtn input {
    margin-left: -1.4rem;
    text-align: center;
}