<form [formGroup]="form">
    <div class="container">
        <div id="carouselControls" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carouselControls" class="active"></li>
                <li data-target="#carouselControls" ></li>
                <li data-target="#carouselControls" ></li>
            </ol>
            <!-- Choice the company -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/barcelona-boardwalk.jpg" alt="Add Company">
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Encontre uma empresa para reclamar</span>
                            </h2>
                            <br>
                            <h3 style="margin-top: 60px">
                                <!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> -->
                                <select *ngIf="companies else loading" (change)="onChangeSelectCompany($event)" class="col-sm-10 selectpicker btn-outline-success"
                                    data-live-search="true" title="Pesquisar Empresa" data-header="Marque uma empresa" data-size="8"
                                    data-liveSearchStyle="startsWith" data-noneResultsText='Nada encontarado {0}' id="selectpicker-company" formControlName="idEmpresa">
                                    <option *ngFor="let company of companies" value="{{ company?.id }}">
                                        {{ company?.fantasia ? company.fantasia : company?.nome }}
                                    </option>
                                </select>
                            </h3>
                            <br>
                            <div class="">
                                <!-- <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a>
                                <a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="carousel-caption">
                        <h5>Escolha uma empresa</h5>
                        <p>Qual empresa você gostaria de denunciar?</p>
                    </div>
                </div>

                <!-- Choice the type(s) of Delation -->
                <div class="carousel-item">
                    <img src="assets/images/barcelona-boardwalk.jpg" alt="Add Company">
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Categoria da denúncia</span>
                            </h2>
                            <br>
                            <div class="form-row">
                                <label for="selectCategory" class="col">Qual é a categoria do seu problema?</label>
                                <label for="selectType" class="col">Qual é o tipo de produto ou serviço?</label>
                            </div>
                            <div class="form-group">
                                <select (change)="onChangeSelectCategory($event)" class="col-sm-6 selectpicker btn-outline-success"
                                    data-live-search="true" title="Pesquisar categoria" data-header="Selecione uma opção" data-size="8"
                                    data-liveSearchStyle="startsWith" data-noneResultsText='Nada encontarado {0}'
                                    id="selectpicker-category">
                                    <option *ngFor="let category of categories" value="{{ category?.id }}">
                                        {{ category?.nome }}
                                    </option>
                                </select>
                                <select (change)="onChangeSelectCategorytype($event)" class="col-sm-6 selectpicker btn-outline-success"
                                    data-live-search="true" title="Pesquisar tipo" data-header="Selecione uma opção" data-size="8"
                                    data-liveSearchStyle="startsWith" data-noneResultsText='Nada encontarado {0}'
                                    [disabled]="!(idCategory>0)" id="selectpicker-categorytype">
                                    <option *ngFor="let categoryType of categoryTypes" value="{{ categoryType?.id }}">
                                        {{ categoryType?.nome }}
                                    </option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="selectIssue" class="col-sm-12">Qual é o problema?</label>
                                <select (change)="onChangeSelectCategoryProblem($event)" class="col-sm-12 selectpicker btn-outline-success"
                                    data-live-search="true" title="Pesquisar problema" data-header="Selecione uma opção" data-size="8"
                                    data-liveSearchStyle="startsWith" data-noneResultsText='Nada encontarado {0}'
                                    [disabled]="!(idCategorytype>0)" id="selectpicker-problem">
                                    <option *ngFor="let categoryProblem of categoryProblems" value="{{ categoryProblem?.id }}">
                                        {{ categoryProblem?.nome }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-caption">
                        <h5>Esolha a classificação da denúncia</h5>
                        <p>Qual é a categoria da denúncia?</p>
                    </div>
                </div>

                <!-- Add delations' details -->
                <div class="carousel-item">
                    <img src="assets/images/barcelona-boardwalk.jpg" alt="Add Company">
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Detalhes da denúncia</span>
                            </h2>
                            <div class="box-gray">
                                <div class="form-group">
                                    <label for="delationTitle">Título da reclamação</label>
                                    <input type="text" class="form-control" id="delationTitle" placeholder="Título da sua reclamação" formControlName="dsTitulo">

                                    <label for="delationYourHistory">Conte-nos a sua história</label>
                                    <textarea class="form-control" id="delationYourHistory" rows="3" placeholder="Escreva aqui todos os detalhes da sua história..."></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="delationFiles">Você pode enviar até 3 imagens ou documentos para a empresa.</label>
                                    <div class="attached-files">
                                        <div class="choose-file">
                                            <span>
                                                <fa-icon [icon]="['fas', 'cloud-upload-alt']" size="fa-sm"></fa-icon> Enviar um arquivo
                                                <input type="file" class="custom-file-input" id="customFile" (change)="onChangeFileUpload($event)" />
                                            </span>
                                        </div>
                                    </div>
                                    <div id="chosen-files" [style.display]="files.length > 0 ? 'inline-flex' : 'none'">
                                        <!-- Showing the files -->
                                        <div class="thumb col" *ngFor="let file of files">
                                            <div *ngIf="file?.type === 'pdf'">
                                                <fa-icon [icon]="['fas', 'file-pdf']" size="fa-sm"></fa-icon>
                                            </div>
                                            <div *ngIf="file?.type !== 'pdf'">
                                                <fa-icon [icon]="['fas', 'image']" size="fa-sm"></fa-icon>
                                            </div>
                                            <p>{{ file.name }}. {{ file.type }}</p>
                                            <fa-icon [icon]="['fas', 'times']" size="fa-sm" title="Remover arquivo" id="remove-file" (click)="onRemoveFile(file.id)"></fa-icon>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group upload-alert">
                                    <small id="delationFilesHelp">
                                        <fa-icon [icon]="['fas', 'info-circle']" size="fa-sm" style="margin-right: 8px; display: inline-block"></fa-icon>
                                        Fique tranquilo, só a empresa poderá ver o seu anexo. Nada que você anexar aqui é público.
                                        <br class="visible-lg">
                                        Formatos de arquivo permitidos: PNG, JPG ou PDF com até 5Mb.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="phones" >Qual o telefone que a empresa pode entrar em contato?</label>
                                    <div class="row" id="phones">
                                        <div class="col-sm-6">
                                            <input type="tel" mask='(00) 00000-0000' placeholder="(61) 00000-0000" title="Celular">
                                        </div>
                                        <div class="form-group visible-xs"></div>
                                        <div class="col-sm-6">
                                            <input type="tel" mask='(00) 0000-0000' placeholder="(00) 0000-0000" title="Residencial">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-caption">
                        <h5>Agora, descreva em detalhes seu problema
                            <fa-icon [icon]="['far', 'thumbs-up']" size="fa-sm"></fa-icon>
                        </h5>
                        <p>Qual é a sua história?</p>
                    </div>
                    <!-- Publish -->
                    <div class="carousel-control-next">
                        <button type="submit" class="btn btn-success" (click)="onSubmit()">
                            <fa-icon [icon]="['fas', 'bullhorn']" size="fa-sm"></fa-icon>
                            {{ btnSubmit }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<hr>

<ng-template #loading>
    <loading-spinner></loading-spinner>
</ng-template>