.carousel-indicators {
  position: fixed !important;
  background-color: yellowgreen;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .carousel-caption {
    color: black;
    position: fixed;
  }

  .container {
    margin-top: 20px;
}

/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 765px;
}

.carousel-control {
    width: 0;
}

.carousel-control-next, .carousel-control-prev {
    top: 10%;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 40px;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 100px;
}

.header-text h3 span {
	background-color: yellowgreen;
	padding: 5px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.box-gray {
    max-width: 800px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
    padding: 45px;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 6px;
    margin: 0px auto;
}

.box-gray label {
    text-align: left;
    display: table;
}

.form-control {
    margin-bottom: 30px;
}

.upload-alert {
    background-color: #47646c;
    padding: 15px;
    margin-top: 15px;
    border-radius: 6px;
}

.upload-alert fa-icon {
    float: left;
}

.upload-alert small {
    text-align: justify;
    display: inline-flex;
}

.visible-xs {
    display: none!important;
}

#phones input {
    height: 46px;
    padding: 10px 16px;
    line-height: 1.3333333;
    border-radius: 6px;
}

#phones div {
    text-align: left !important;
}

.thumb {
    border: 1px solid #ddd;
    background-color: #47646c;
    float: left;
    padding: 5px 8px;
    margin: 8px 8px 0 0;
    border-radius: 6px;
    height: 35px;
    position: relative;
    display: flex;
    overflow: hidden;
}

.thumb p {
    word-break: break-word;
    text-align: center;
    margin-left: 5px;
}

.thumb fa-icon {
    margin-left: 5px;
}

.thumb #remove-file:hover {
    color: #f80b0b;
}

.attached-files .choose-file {
    line-height: 32px;
    height: 36px;
    width: 190px!important;
    padding: 0 15px;
    color: #4A90E2;
    border: 1px dashed #4A90E2;
    background: #fff;
}

.attached-files .choose-file input[type=file] {
    -webkit-appearance: none;
    position: absolute;
    left: 190px;
    opacity: 0;
    width: 165px;
    height: 50px;
    cursor: pointer;
}

.card-body, .card {
    background-color: #768a8f;
    padding: 0.5rem;
}

.indentificavel {
    margin-left: 1.5rem;
    margin-right: 1.7rem;
}

.onlyRegister {
    margin-right: 1.7rem;
}

.unknow {
    margin-right: 1.5rem;
}

.indentificavel, .onlyRegister, .unknow{
    width: 20rem;
    display: inline-table;
}

.indentificavel, .onlyRegister, .unknow p {
    text-align: justify;
}